@media (max-width: 361px ) {
  body {
    width: 360px;
  }
  
  @font-face {
    font-family: Louis;
    src: url(./fonts/Louis\ George\ Cafe\ Bold.ttf)
  }
    
  .button-container-favorite {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    justify-content: center;
  }

  .filter-buttons-favorite {
    margin: 5px;
    font-weight: 800;
    width: 90px;
    border-radius: 10px;
    border: solid #ff2800 1px;
    background-color: white;
    color: #ff2800;
  }
  
  .filter-buttons-favorite:hover {
    background-color: #ff2800;
    color: white;
  }

  .recipe-container-favorite {
    width: 100%;
    margin-top: 1px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
    
  .card-recipe-favorite {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: #ff2800;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .recipe-image-favorite {
    width: 300px;
    border: white 5px solid;
    border-radius: 10px;
  }
  
  .info-recipe-favorite {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .recipe-image-favorite {
    width: 300px;
    border: white 5px solid;
    border-radius: 10px;
  }

  .recipe-name-favorite {
    font-size: 20px;
    font-family: Louis ;
    color: white;
    text-align: center;
    height: 5px;
    margin-top: 4px;
    margin-bottom: 20px;
  }

  .recipe-category-favorite {
    font-size: 17px;
    font-family: Louis ;    
    color: #ffe0d4;
    text-align: center;
    height: 10px;
    margin-top: 4px;
  }

  .buttons-favorite {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .share-button-favorite {
    margin: 5px;
    width: 60px;
    border-radius: 10px;
    border: solid #ff2800 1px;
    background-color: #ffe0d4;
  }

  .share-button-favorite:hover {
    background-color: #ff2800;
  }

  .icon-favorite {
    width: 20px;
  }

  .heart-button-favorite {
    margin: 5px;
    width: 60px;
    border-radius: 10px;
    border: solid #ff2800 1px;
    background-color: #ffe0d4;
  }

  .heart-button-favorite:hover {
    background-color: #ff2800;
  }

  .link-copied-favorite {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: Louis ;
    color: #ffe0d4;
    /* margin-bottom: 4px; */
  }
}