@media (max-width: 361px ) {
  .profile-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffe0d4;
  }

  .buttons-container {
    justify-content: space-around;
  }

  .button-redirect {
    padding: 5px;
    font-weight: 800;
    width: 90px;
    border-radius: 10px;
    border: solid #ff2800 1px;
    background-color: white;
    color: #ff2800;
  }

  .button-redirect:hover {
    background-color: #ff2800;
    color: white;
  }

  .profile-email {
    background-color: white;
    padding: 5px;
    max-width: 340px;
    border-radius: 5px;
    color: #ff2800;
    display: flex;
    align-self: center;
    margin-top: 20px;
    font-weight: 700;
  }
}